.App {
  text-align: center;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  background-color: black;
}

.minilogo {
  width: 60px;
  height: 50px;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #85181d;
  color: white;
  text-align: center;
  padding: 0 5px 0 0;
}

.dpavimg {
  opacity: 60%;
  width: 380px;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
}

.enterlink {
  font-size: 20px;
  position: absolute;
  letter-spacing: 6px;
  color: white;
  text-decoration: none;
  top: 77%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  height: 400px;
  width: 100;
  opacity: 50%;
}

.Brands {
  padding: 35px;
}

.brandsTitle {
  width: 100%;
  background-color: black;
  color: white;
  font-size: 60px;
}

.container {
  height: 450px;
  margin: 100px;
  position: relative;
  text-align: center;
  color: white;
}

.gearList :hover {
  color: #106589;
  /* font-family: Copperplate, Copperplate Gothic Light, fantasy; */
}

h2,
h1 {
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  color: white;
  padding: 10px;
}

p {
  color: white;
  font-size: 22px;
}

.insta {
  margin: 5px 2px 6px 5px;
  height: 48px;
  width: 48px;
}
.location {
  margin: 10px 0px 8px 0px;
  height: 60px;
  width: 60px;
}

.phone {
  /* margin: 5px; */
  height: 75px;
  width: 75px;
}

.fbook {
  margin: 2px 5px 5px 5px;
  height: 48px;
  width: 48px;
}
.email {
  margin: 5px 5px 5px 5px;
  height: 43px;
  width: 43px;
}

.demail {
  margin: 10px 0px 8px 0px;
  height: 55px;
  width: 55px;
}

.aboutTitle {
  padding: 30px;
  color: white;
}

.brandsTitle {
  padding: 30px;
  font-size: 45px;
}

.contactTitle {
  padding: 30px;
}

.projects {
  color: white;
  font-size: 45px;
}

ul {
  padding: 0px;
  color: white;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
}

.container {
  animation: fadeIn 2s;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* button.mr-2.navbar-toggler {
  background-color: #85181d;
} */

@media only screen and (min-width: 768px) {
  .dpavimg {
    opacity: 60%;
    width: 600px;
    height: 600px;
    margin: 0 0 0 30px;
  }

  .container {
    height: 430px;
    margin: 100px;
    position: relative;
    text-align: center;
    color: white;
  }
  .enterlink {
    font-size: 30px;
    position: absolute;
    letter-spacing: 6px;
    color: white;
    text-decoration: none;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container {
    animation: fadeIn 2s;
    opacity: 1;
  }

  div.col-md-4 {
    padding: 10px;
    object-position: center;
  }

  p {
    font-size: 25px;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
