.App {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: right;
  padding: 0 5px 0 0;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
}

.enter {
  position: absolute;
  color: black;
  text-decoration: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  height: 350px;
  width: 100;
  opacity: 30%;
}

.brandsTitle {
  width: 100%;
  background-color: rgb(106, 120, 165);
}

.container {
  height: 450px;
  margin: 100px;
  position: relative;
  text-align: center;
  color: white;
}

.insta {
  margin: 5px;
  height: 41px;
  width: 41px;
}
.phone {
  margin: 5px;
  height: 47px;
  width: 47px;
}
.fbook {
  margin: 3px;
  height: 41px;
  width: 41px;
}

.email {
  margin: 5px;
  height: 36px;
  width: 36px;
}

.aboutTitle {
  padding: 30px;
}

.brandsTitle {
  padding: 30px;
}

.contactTitle {
  padding: 30px;
}

/* .gearList {
  text-align: center;
} */
/* 
@media only screen and (min-width: 426px) {
  .navbar {
    display: none;
  }
} */

ul {
  padding: 0px;
  font-family: "Quicksand", sans-serif;
}
